@use 'variables' as v;

header {
  padding: 2.5em 0 1.5em 0;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: v.$color-accent;
    text-shadow: 0 2px 8px rgba(v.$color-accent, 0.10);
  }
  button {
    margin-top: 1.5em;
  }
}