@media (max-width: 600px) {
  main {
    max-width: 100vw;
    padding: 0 0.7em;
  }
  .modal__form,
  .modal__content {
    min-width: unset;
    width: 100vw;
    border-radius: 0;
    padding: 1.5em 0.7em;
  }
  .todo-card {
    padding: 0.8em 0.7em;
    font-size: 1em;
  }
}